@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	list-style: none;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	color: white;
}

html, body {
	overflow-x: hidden;
}

body {
	scroll-behavior: smooth;
	position: relative;
	background-color: rgb(0, 0, 0);
}

img,
.conjunto {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.conteudo {
	display: none;
}

.desktop {
	display: none;
}

.mobile {
	display: inherit;
}

#secoes {
	background-image: url(../imagens/fundo.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	transition: margin 0.5s, opacity 0.5s;
}

.carregando {
	position: relative;
	width: 100vw;
	height: 100vh;
}

.carregando img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20vw;
	max-width: 100px;
	height: auto;
}

@media (min-width: 870px) {
	.desktop {
		display: inherit;
	}
	.mobile {
		display: none;
	}
}

.menu {
	color: white;
	width: 100%;
	position: fixed;
	top: -70px;
	z-index: 1;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	transition: 0.5s top;
	will-change: transform;
}

.menu ul {
	display: flex;
	justify-content: space-around;
}

.menu li {
	list-style: none;
}

.menu a {
	color: white;
	display: block;
	padding: 15px 50px;
	font-size: 1em;
	border-radius: 15px;
	transition: color 0.3s, background-color 0.3s;
}

@media(hover: hover) and (pointer: fine) {
	.menu a:hover {
		color: black;
		background-color: white;
	}
}

.sidenav {
	height: 100vh;
	width: 0;
	color: white;
	text-decoration: none;
	background-color: #1e1e1e;
	position: fixed;
	top: 0px;
	left: 0px;
	overflow-x: hidden;
	font-family: 'Raleway', sans-serif;
	transition: color, top 0.3s;
	justify-content: space-between;
	transition: width 0.5s;
}

.itens {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	opacity: 0;
	margin-left: -100px;
	transition: opacity 0.5s, margin 0.5s;
}

.sidenav a {
	text-decoration: none;
	font-size: 25px;
	margin: 20px 0px;
	padding: 15px 50px;
	text-align: center;
	color: white;
	display: block;
	border-radius: 15px;
	transition: color 0.3s, background-color 0.3s;
}

@media(hover: hover) and (pointer: fine) {
	.sidenav a:hover {
		color: black;
		background-color: white;
	}
}

.sidenav .closebtn {
	position: absolute;
	padding: 10px 25px;
	margin-top: 0;
	top: 0px;
	right: 0px;
	font-size: 36px;
}

/*Partes do Site*/

.secao {
	height: 100vh;
	width: 100vw;
	position: relative;
}

@keyframes titulo {
	0%{padding-top: 200px;}
	100%{padding-top: 15px;}
}

.titulo {
	text-align: center;
	font-family: 'Varela Round', sans-serif;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	font-size: 2em;
	padding: 15px;
	animation: titulo 0.6s;
}

.tituloPrincipal {
	text-align: center;
	font-family: 'Balsamiq Sans', cursive;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	font-size: 2em;
	padding: 15px;
	animation: titulo 0.6s;
}

@media (min-width: 800px) {
	.titulo,
	.tituloPrincipal {
		font-size: 3em;
	}
}

.integrantes {
	width: 100vw;
	display: grid;
	grid-template-columns: 100%;
	text-align: center;
	align-items: center;
	min-height: 100vh;
	padding: 50px 0px;
}

#jorge {
	margin-left: -30%;
	opacity: 0;
	transition: margin-left 0.8s, opacity 0.8s;
}

#fischer {
	opacity: 0;
	transition: opacity 1s;
}

#theodoro {
	margin-left: 30%;
	opacity: 0;
	transition: margin-left 0.8s, opacity 0.8s;
}

.integrante img {
	width: 150px;
	height: auto;
	border-radius: 100%;
}

@media (min-width: 750px) {
	.integrantes {
		grid-template-columns: 33.3% 33.3% 33.3%;
		grid-template-rows: 100%;
	}
	.integrante img {
		width: 45%;
		max-width: 200px;
		min-width: 150px;
	}
}

.integrante {
	padding: 25px 0px;
	width: 100%;
}

.grid {
	display: grid;
	grid-template-columns: 100vw;
	padding: 70px 0px;
	min-height: 100vh;
}

.conjunto {
	width: 75%;
	height: fit-content;
	text-align: center;
	position: relative;
	margin: 30px auto;
	transition: transform 0.3s;
}

@media (min-width: 450px) {
	.conjunto {
		width: 65%;
	}
}

@media (min-width: 500px) {
	.conjunto {
		width: 75%;
	}
	.grid {
		grid-template-columns: 50vw 50vw;
	}
}


@media (min-width: 750px) {
	.conjunto {
		width: 55%;
	}
}

@media (min-width: 1000px) {
	.conjunto {
		margin: auto;
	}
}

@media(min-width: 1200px) {
	.conjunto {
		width: 65%;
	}
	.grid {
		grid-template-columns: 33.3vw 33.3vw 33.3vw;
	}
}

@media(hover: hover) and (pointer: fine) {
	.conjunto:hover {
		transform: scale(1.05);
		cursor: pointer;
	}
}

.conjunto img {
	width: 100%;
	height: auto;
	border-radius: 25px;
}

.tituloConjunto {
	padding: 10px;
	font-family: 'Source Sans Pro', sans-serif;
}

.subtitulo {
	text-align: center;
	font-family: 'Varela Round', sans-serif;
	position: absolute;
	top: 30%;
	transform: translateY(-50%);
	width: 100%;
	font-size: 2em;
}

@media (min-width: 800px) {
	.subtitulo {
		font-size: 3em;
	}
}

.imagemContato {
	width: 50px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0;
	transition: all 0.2s;
	max-width: 100%;
}

.imagemContato:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.email {
	margin-left: auto;
	margin-right: auto;
}

.iconesCotato {
	height: fit-content;
	display: grid;
	position: relative;
	padding-top: 50vh;
}

@media (min-width: 150px) {
	.iconesCotato {
		width: 80vw;
		margin-left: 10vw;
		margin-right: 10vw;
		grid-template-columns: 26.6vw 26.6vw 26.6vw;
		margin-top: 8vh;
	}
	.imagemContato {
		padding-top: 5vh;
		padding-bottom: 5vh;
	}
}

@media (min-width: 670px) {
	.iconesCotato {
		width: 80vw;
		margin-left: 10vw;
		margin-right: 10vw;
		grid-template-columns: 13.3vw 13.3vw 13.3vw 13.3vw 13.3vw 13.3vw;
		margin-top: 20vh;
	}
}

@media (min-width: 170vh) {
	.iconesCotato {
		width: 60vw;
		margin-left: 20vw;
		margin-right: 20vw;
		grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw;
		margin-top: 20vh;
	}
}

.nome {
	text-align: center;
	padding: 20px;
}

.nomePrincipal {
	font-family: 'Balsamiq Sans', cursive;
}

body::-webkit-scrollbar {
	width: 7px;
	background-color: rgb(0, 0, 0, 0);
	border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
	background-color: #1e1e1e;
	border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: #383838;
	border-radius: 6px;
}

@keyframes arrow {
	0%{bottom: -40px;}
	100%{bottom: 30px;}
}

.arrow-container {
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: -40px;
	transition: bottom 0.5s;
}

.arrow {
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: opacity 0.3s, margin-left 0.5s, transform 0.5s;
}

.cargo {
	padding-top: 6px;
	font-family: 'Raleway', sans-serif;
}

/*Paginas*/

.botaoVoltar img {
	width: 40px;
	height: 30px;
}

.botaoVoltar {
	position: fixed;
	top: 30px;
	left: 30px;
	opacity: 0;
}

.botaoVoltar:hover {
	cursor: pointer;
}

.imgArtigo {
	width: 90%;
	height: auto;
	border-radius: 25px;
	margin: auto;
}

.textoArtigo {
	width: 90%;
	font-family: 'Source Sans Pro', sans-serif;
	margin: auto;
	font-size: 1.2em;
	text-align: justify;
}

#parte1 {
	display: grid;
	grid-template-columns: 100vw;
}

@media(min-width: 600px) {
	.imgArtigo {
		width: 50%;
	}
	.textoArtigo {
		font-size: 1.2em;
	}
}

@media(min-width: 1200px) {
	#parte1 {
		display: grid;
		grid-template-columns: 45vw 55vw;
	}
	.imgArtigo {
		width: 90%;
	}
	.textoArtigo {
		padding-right: 20px;
		font-size: 1.5em;
	}
}

::-moz-selection {
	background: #43b7e3cf;
}

::selection {
	background: #43b7e3cf;
}

#subtituloCompeticoes {
	opacity: 0;
	margin-left: 200px;
	transition: margin-left 0.8s, opacity 1s;
}

#competicoes2 {
	opacity: 0.1;
	transition: opacity 1s;
}

#subtituloRobos {
	opacity: 0;
	margin-left: -200px;
	transition: margin-left 0.8s, opacity 1s;
}

#robos2 {
	opacity: 0.1;
	transition: opacity 1s;
}