@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	list-style: none;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	color: white;
}

html, body {
	overflow-x: hidden;
}

body {
	scroll-behavior: smooth;
	position: relative;
	background-color: rgb(0, 0, 0);
}

img,
.conjunto {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.conteudo {
	display: none;
}

.desktop {
	display: none;
}

.mobile {
	display: inherit;
}

#secoes {
	background-image: url(../imagens/fundo.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	transition: margin 0.5s, opacity 0.5s;
}

/* .carregando {
	position: relative;
	width: 100vw;
	height: 100vh;
}

.carregandoImg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20vw;
	max-width: 100px;
	height: auto;
} */

@media (min-width: 870px) {
	.desktop {
		display: inherit;
	}
	.mobile {
		display: none;
	}
}

.menu {
	color: white;
	width: 100%;
	position: fixed;
	top: -70px;
	z-index: 1;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	transition: 0.5s top;
	will-change: top;
}

.menu ul {
	display: flex;
	justify-content: space-around;
}

.menu li {
	list-style: none;
}

.menu a {
	color: white;
	display: block;
	padding: 15px 50px;
	font-size: 1em;
	border-radius: 15px;
	transition: color 0.3s, background-color 0.3s;
}

@media(hover: hover) and (pointer: fine) {
	.menu a:hover {
		color: black;
		background-color: white;
	}
}

.sidenav {
	height: 100vh;
	width: 0;
	color: white;
	text-decoration: none;
	background-color: #0b0b0b;
	position: fixed;
	top: 0px;
	left: 0px;
	overflow-x: hidden;
	font-family: 'Raleway', sans-serif;
	transition: color, top 0.3s;
	justify-content: space-between;
	transition: width 0.5s;
}

.itens {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	opacity: 0;
	margin-left: -100px;
	transition: opacity 0.5s, margin 0.5s;
}

.sidenav a {
	text-decoration: none;
	font-size: 25px;
	margin: 20px 0px;
	padding: 15px 50px;
	text-align: center;
	color: white;
	display: block;
	border-radius: 15px;
	transition: color 0.3s, background-color 0.3s;
}

@media(hover: hover) and (pointer: fine) {
	.sidenav a:hover {
		color: black;
		background-color: white;
	}
}

.sidenav .closebtn {
	position: absolute;
	padding: 10px 25px;
	margin-top: 0;
	top: 0px;
	right: 0px;
	font-size: 36px;
}

/*Partes do Site*/

.secao {
	height: 100vh;
	width: 100vw;
	position: relative;
}

@keyframes titulo {
	0%{top: 62%; opacity: 0;}
	100%{top: 50%; transform: translateY(-50%); opacity: 1;}
}

.titulo {
	text-align: center;
	font-family: 'Varela Round', sans-serif;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	font-size: 2em;
	padding: 15px;
}

.tituloPrincipal {
	text-align: center;
	font-family: 'Varela Round', sans-serif;
	position: absolute;
	width: 100%;
	font-size: 2em;
	padding: 15px;
	opacity: 0;
	-webkit-animation: titulo .3s linear 0.35s 1 normal forwards;
    animation: titulo .3s linear 0.35s 1 normal forwards;
}

@media (min-width: 800px) {
	.titulo,
	.tituloPrincipal {
		font-size: 2.5em;
	}
}

.equipe {
	width: 100vw;
	display: grid;
	grid-template-columns: 100%;
	text-align: center;
	align-items: center;
	min-height: 100vh;
}

.integrante img {
	width: 150px;
	height: auto;
	border-radius: 100%;
}

@media (min-width: 775px) {
	.equipe {
		grid-template-columns: 33.3% 33.3% 33.3%;
		grid-template-rows: 100%;
	}
	.integrante img {
		width: 45%;
		max-width: 200px;
		min-width: 150px;
	}
}

.integrante {
	margin: 25px 0px;
	width: 100%;
}

/* #fischer {
	opacity: 0;
	transition: opacity 1s;
}

#jorge {
	margin-left: -30%;
	opacity: 0;
	transition: margin-left 0.8s, opacity 0.8s;
}

#theodoro {
	margin-left: 30%;
	opacity: 0;
	transition: margin-left 0.8s, opacity 0.8s;
} */

.competicoes {
	display: grid;
	grid-template-columns: 100vw;
	min-height: 100vh;
	padding: 10vh 0;
	width: 100vw;
}

.competicao {
	width: 75vw;
	height: fit-content;
	margin: auto;
	text-align: center;
	cursor: pointer;
	position: relative;
	margin: 30px auto;
}

.competicao img {
	width: 100%;
	height: auto;
	border-radius: 15px;
}

.galeria {
	display: grid;
	grid-template-columns: 100vw;
	min-height: 100vh;
	padding: 10vh 0;
	width: 100vw;
}

.galeria p {
	font-family: 'Varela Round', sans-serif !important;
	font-size: 2.5em;
}

.galeria img {
	width: 75vw;
	height: auto;
	margin: 10px auto;
	border-radius: 10px;
}

@media (min-width: 450px) {
	.competicao,
	.galeria img {
		width: 337.5px;
	}
}

@media (min-width: 500px) {
	.competicao, 
	.galeria img {
		width: 75%;
	}
	.competicoes,
	.galeria {
		grid-template-columns: repeat(auto-fill, 50vw);
	}
}


@media (min-width: 750px) {
	.competicao,
	.galeria img {
		width: 55%;
	}
}

@media(min-width: 1200px) {
	.competicao {
		width: 15vw;
	}
	.galeria img {
		width: 22.5vw;
	}
	.competicoes,
	.galeria {
		grid-template-columns: repeat(auto-fill, 25vw);
	}
}

.tituloConjunto {
	padding: 10px;
	font-family: 'Source Sans Pro', sans-serif;
}

.subtitulo {
	text-align: center;
	font-family: 'Varela Round', sans-serif;
	position: absolute;
	top: 30%;
	transform: translateY(-50%);
	width: 100%;
	font-size: 2em;
}

.imagemContato {
	width: 35px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0;
	transition: all 0.2s;
	max-width: 100%;
}

.imagemContato:hover {
	cursor: pointer;
}

.email {
	margin-left: auto;
	margin-right: auto;
}

.iconesCotato {
	height: fit-content;
	display: grid;
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
}

@media (min-width: 150px) {
	.iconesCotato {
		width: 80vw;
		margin-left: 10vw;
		margin-right: 10vw;
		grid-template-columns: 26.6vw 26.6vw 26.6vw;
		margin-top: 20vh;
	}
	.imagemContato {
		padding-top: 5vh;
		padding-bottom: 5vh;
	}
}

@media (min-width: 670px) {
	.iconesCotato {
		width: 70vw;
		margin: 20vh 15vw;
		grid-template-columns: repeat(auto-fill, 11.66vw);
	}
}

@media (min-width: 170vh) {
	.iconesCotato {
		width: 50vw;
		margin: 20vh 25vw;
		grid-template-columns: repeat(auto-fill, 8.33vw);
	}
}

.nome {
	text-align: center;
	margin: 20px;
}

.nomePrincipal {
	font-family: 'Varela Round', sans-serif;
}

body::-webkit-scrollbar {
	width: 7px;
	background-color: rgb(0, 0, 0, 0);
	border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
	background-color: #1e1e1e;
	border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: #383838;
	border-radius: 6px;
}

.cargo {
	margin: 6px;
	font-family: 'Raleway', sans-serif;
}

/*Paginas*/

.botaoVoltar img {
	width: 40px;
	height: 30px;
}

.botaoVoltar {
	position: fixed;
	top: 30px;
	left: 30px;
	opacity: 0;
	cursor: pointer;
}

.artigo {
	display: grid;
	grid-template-columns: 50vw 50vw;
	min-height: 100vh;
}

.img-artigo {
	width: 40vw;
	height: auto;
	border-radius: 15px;
	margin: auto;
}

.texto-artigo {
	width: 90%;
	font-family: 'Source Sans Pro', sans-serif;
	margin: auto;
	font-size: 1.2em;
	text-align: justify;
}

@media(min-width: 600px) {
	.imgArtigo {
		width: 50%;
	}
	.textoArtigo {
		font-size: 1.2em;
	}
}

@media(min-width: 1200px) {
	#parte1 {
		display: grid;
		grid-template-columns: 45vw 55vw;
	}
	.imgArtigo {
		width: 90%;
	}
	.textoArtigo {
		padding-right: 20px;
		font-size: 1.5em;
	}
}

::-moz-selection {
	background: #43b7e3cf;
}

::selection {
	background: #43b7e3cf;
}

.carregando p {
	text-align: center;
	font-family: 'Varela Round', sans-serif;
	line-height: 30px;
}

.carregando {
	width: 100vw;
	height: 100vh;
	position: relative;
}

.aviso {
	width: 80vw;
	position: absolute;
	top: 50%;
	transform: translate(10vw, -50%);
}

.imagem {
	width: 100vw;
	position: fixed;
	bottom: 0;
}

.carregando img {
	height: 20vh;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media(min-width: 500px) {	
	.aviso {
		width: 50vw;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}