@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body {
	background-color: rgb(40, 137, 217);
}

button {
	margin-top: 5vh;
	margin-left: 35vw;
	width: 10vw;
	height: 5vh;
	border-radius: 1vw;
	border-color: whitesmoke;
	border-style: none;
	transition: all 0.2s;
	outline: none;
}

button:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.conteudo {
	background-color: white;
	width: 80vw;
	height: 80vh;
	margin-left: 10vw;
	margin-top: 10vh;
	border-radius: 15px;
}

.titulo {
	text-align: center;
	padding-top: 3vh;
	font-family: 'Balsamiq Sans', cursive;
}

.linhas {
	height: 22vh;
	margin-top: 5vh;
	display: flex;
	justify-content: space-around;
}

#linha1 {
	font-family: 'Balsamiq Sans', cursive;
	line-height: 22vh;
	font-size: 50px;
}

#linha2 {
	margin-top: 8vh;
}

.carta {
	border-radius: 15px;
	text-align: center;
	line-height: 22vh;
	font-family: 'Balsamiq Sans', cursive;
	font-size: 30px;
	transition: all 0.3s;
	background-image: none;
	animation: aparecer 0.5s;
}

.carta:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.desaparecer {
	cursor: initial !important;
	animation: desaparecer 0.5s;
}

.pontos {
	margin-top: -3vh;
	margin-left: 10vw;
}

.tentativas {
	margin-top: -3vh;
	margin-left: 64vw;
}

.comImagem {
	animation: forwards opacidade 0.5s;
}

@keyframes desaparecer {
	0% {opacity: 1; transform: scale(1);}
	100% {opacity: 0; transform: scale(0.2); background-image: none;}
}

@keyframes aparecer {
	0% {transform: scale(0.2);}
	100% {transform: scale(1);}
}

@keyframes opacidade {
	0% {opacity: 0; transform: scale(0.2);}
	100% {opacity: 1; transform: scale(1);}
}