@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	font-family: 'Roboto', sans-serif;
}

button {
	height: 5vh;
	width: 8vw;
	border-radius: 12px;
	border: hidden;
	outline: none;
	margin: 10px 10px 10px 10px;
}

input {
	height: 5vh;
	width: 30vw;
	border-radius: 12px;
	outline: none;
	border-style: solid;
	border-color: grey;
}

#clique {
	margin-top: 8vh;
	height: 20vh;
	width: 50vw;
	margin-left: 25vw;
	text-align: center;
	border-radius: 15px;
	font-size: 30px;
	color: black;
}

.checkbox {
	height: initial;
	width: initial;
}

.selecione {
	padding-top: 10vh;
	text-align: center;
}

.input {
	text-align: center;
}

.pronto {
	text-align: center;
	padding-top: 3vh;
}

.btn-pronto {
	transition: all .3s;
	padding: 0;
}

.btn-pronto:hover {
	background-color: rgb(70, 180, 70);
	color: white;
	cursor: pointer;
	transform: scale(1.2);
}

.titulo {
	padding-top: 8vh;
}

.check {
	padding-top: 3vh;
	text-align: center;
}

.espacador {
	height: 5vh;
}

.botao {
	transition: all .3s;
}

.botao:hover {
	cursor: pointer;
	transform: scale(1.2);
}