@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body {
	background-color: rgb(40, 137, 217);
}

button:hover,
button:active {
	cursor: pointer;
	transform: scale(1.05);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

html, body {
	overflow-x: hidden;
}
body {
	position: relative
}

.conteudo {
	width: 80vw;
	height: 80vh;
	min-height: 370px;
	margin: 10vh 10vw;
	background-color: white;
	border-radius: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
}

.caixa-btn-apostar {
	display: flex;
	text-align: center;
	justify-content: space-around;
	padding-top: 7vh;
	padding-bottom: 5vh;
}

#apostas {
	width: 40vw;
	margin-left: 20vw;
	height: 4vh;
	min-height: 25px;
	margin-bottom: 2.5vh;
	border-width: 1px;
	border-radius: 15px;
	border-color: rgb(107 107 107 / 50%);
	text-align-last: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
	border-style: solid;
	border-radius: 10000px;
}

#valorAposta {
	width: 40vw;
	margin-left: 20vw;
	height: 4vh;
	min-height: 25px;
	border-width: 1px;
	border-radius: 15px;
	border-color: rgb(107 107 107 / 50%);
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
	border-style: solid;
	border-radius: 10000px;
}

.caixa-btn-apostar button {
	width: 20vw;
	min-width: 100px;
	height: 6vh;
	min-height: 37.5px;
	text-decoration: none;
	border-radius: 10000px;
	border-color: white;
	border-style: none;
	transition: transform 0.2s;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
	font-size: 1em;
}

.carteira {
	display: flex;
}

#resultado {
	width: 20vw;
	height: 100%;
}
.avisos {
	width: 20vw;
	height: 100%;
	text-align: right;
}
.avisosEResultado {
	display: grid;
	grid-template-columns: 20vw 34vw 20vw;
	padding: 3vw;
}

.ganhouOuPerdeu {
	width: 34vw;
	height: 100%;
}

.ganhouOuPerdeu p {
	width: 34vw;
	text-align: center;
	font-size: 4.5vw;
	line-height: 100%;
	margin: 0;
	padding-top: 1vh;
}

.title {
	text-align: center;
	font-size: 4vw;
	color: black;
	font-weight: 100;
	padding-top: 5vh;
	padding-bottom: 7vh;
	font-weight: 200;
}

#status {
	opacity: 1;
	font-weight: 200;
	transition: all .3s;
}

.espacoCima {
	padding-top: 4vh;
}

@media(min-height: 130vw) {
	#valorAposta {
		width: 70vw;
		margin-left: 10vw;
	}
	#apostas {
		width: 70vw;
		margin-left: 10vw;
	}
	.title {
		font-size: 6vw;
		font-weight: 600;
	}
	#status {
		font-weight: 600;
	}
	.conteudo {
		min-height: 450px;
		margin: 5vh 5vw;
		width: 90vw;
		height: 90vh;
	}
	.avisosEResultado {
		grid-template-columns: 25vw 34vw 25vw;
	}
	.ganhouOuPerdeu p {
		padding-top: 25vh;
		font-size: 7vw;
	}
	.avisos {
		width: 25vw;
	}
	#resultado {
		width: 25vw;
	}
}

#chart {
	width: 30%;
}

#chart2 {
	width: 30%;
}

#chart3 {
	width: 30%;
}

.comumEsquerda {
	width: 35%;
	text-align: center;
	border-radius: 15px;
}

.diferente {
	width: 16.5%;
	text-align: center;
	border-radius: 15px;
	margin-left: 2.5%;
}

.comumDireita {
	width: 35%;
	margin-left: 3%;
	text-align: center;
	border-radius: 15px;
}

.display {
	display: flex;
}

.vermelho {
	background-color: rgb(255, 70, 70);
}

.verde {
	background-color: rgb(70, 180, 70);
}

.azul {
	background-color: rgb(40, 137, 217);
}

.azul2 {
	background-color: #254DB2;
}

.laranja {
	background-color: rgb(255, 128, 40);
}

.margem {
	margin-top: 20px;
}

.estatisticas {
	display: none;
	font-family: 'Raleway', sans-serif;
	width: 80vw;
	height: 80vh;
	min-height: 370px;
	margin: 10vh 10vw;
	background-color: white;
	border-radius: 20px;
	color: white;
	font-weight: bold;
}

.estatisticas .title {
	margin-top: -10vh;
}

.back_arrow {
	width: 25px;
	height: auto;
	margin-top: 20px;
	margin-left: 20px;
}

.transform {
	z-index: 1;
	transition: 0.3s transform;
}

.transform:active,
.transform:hover{
	transform: scale(1.1);
	cursor: pointer;
}

/*Estatísticas*/