@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
}

body  {
	font-family: 'Roboto', sans-serif;
	background-color: white;
	transition: 0.5s color;
	-youbkit-touch-callout: none;
	-youbkit-user-select: none;
	-moz-user-select: none;	 
	-ms-user-select: none;
	user-select: none;
}

.content {
	margin-left: 10vw;
	width: 80vw;
	height: 80vh;
	border-radius: 15px;
	background-color: whitesmoke;
}

.textoBotao {
	width: 30vw;
	margin-left: 25vw;
	height: 20vh;
	margin-top: 10vh;
	background-color: whitesmoke;
	border-radius: 0px 0px 15px 15px;
	transition: 0.1s all;
}

.textoBotao:active,
.textoBotao:hover{
	transform: scale(1.01);
}

.botoes {
	display: flex;
	margin-top: 20vh;
	justify-content: space-around;
}

.btn {
	width: 10vw;
	height: 6vh;
	border-radius: 15px;
	text-align: center;
	background-color: grey;
	color: white;
	transition: 0.3s transform;
}

.btn:active,
.btn:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.btn p {
	padding-top: 1.7vh;
}

#conteudo {
	text-align: center;
	font-size: 40px;
	padding-top: 7vh;
	color: white;
}

.botaoJogar {
	margin-left: 35vw;
	margin-top: 20vh;
}

.status {
	margin-left: 7vw;
	margin-top: -5vh;
	width: 10vw;
	height: 10vh;
	text-align: center;
}

.noticias {
	margin-left: 64.6vw;
	margin-top: -11vh;
	width: 10vw;
	height: 10vh;
	text-align: center;
	font-size: 30px;
}

.respostaCorreta {
	margin-left: 65.3vw;
	margin-top: -11vh;
	text-align: center;
	display: none;
	background-color: rgb(70, 180, 70);
}