@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

html, body {
	overflow-x: hidden;
}
body {
	position: relative
}

body {
	background-color: rgb(255, 255, 255);
	-webkit-tap-highlight-color: transparent;
}

button {
	width: 100px;
	height: 5vh;
	border-radius: 14px;
	border-color: whitesmoke;
	border-style: none;
	transition: all 0.2s;
	outline: none;
	min-height: 27px;
}

.buttonContainer {
	-webkit-display: flex;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.botao-ok {
	margin-top: 7vh;
	margin-bottom: 2vh;
	background-color: #4caf50;
	color: white;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media(hover: hover) and (pointer: fine) {
	button:hover {
		transform: scale(1.1);
		cursor: pointer;
	}
}

.carregando {
	width: 10vw;
	height: auto;
	margin-left: 45vw;
	margin-top: 35vh;
}

.titulo {
	text-align: center;
	line-height: 30px;
	margin-top: -30px;
	height: 30px;
	font-family: 'Varela Round', sans-serif;
	width: calc(100% - 45px);
	margin-left: 45px;
}

.linhas {
	height: 22vh;
	margin-top: 3vh;
	-webkit-display: flex;
	display: flex;
	justify-content: space-around;
}

#linha2 {
	margin-top: 8vh;
}

#linha3 {
	display: none;
	margin-top: 8vh;
}

#linha4 {
	display: none;
	margin-top: 8vh;
}

.carta {
	border-radius: 15px;
	text-align: center;
	line-height: 18vh;
	width: 18vh;
	height: 18vh;
	background-size: 18vh 18vh;
	margin: auto;
	font-family: 'Varela Round', sans-serif;
	font-size: 30px;
	transition: all 0.3s;
	background-image: none;
	animation: aparecer 0.3s;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media(hover: hover) and (pointer: fine) {
	.carta:hover {
		transform: scale(1.05);
		cursor: pointer;
	}
}

.desaparecer {
	cursor: initial !important;
	animation: desaparecer 0.3s;
	opacity: 0 !important;
}

.pontos {
	margin-top: -3vh;
	margin-left: 10vw;
	font-family: 'Didact Gothic', sans-serif !important}

.tentativas {
	margin-top: -3vh;
	margin-left: 64vw;
	font-family: 'Didact Gothic', sans-serif !important; 
}

@keyframes desaparecer {
	0% {opacity: 1; transform: scale(1);}
	100% {opacity: 0; transform: scale(0.1);}
}

@keyframes aparecer {
	0% {transform: scale(0.2);}
	100% {transform: scale(1);}
}

@keyframes opacidade {
	0% {opacity: 0; transform: scale(0.2);}
	100% {opacity: 1; transform: scale(1);}
}

.comImagem {
	animation: forwards opacidade 0.5s;
}

.textoTentativas {
	font-family: 'Varela Round', sans-serif;
	text-align: center;
	font-size: 50px;
	padding-top: 10vh;
    width: 100%;
	display: none;
	animation: opacidade 0.6s forwards;
}

.menuPowerUp {
	display: none;
	position: absolute;
	width: 80vw;
	background-color: whitesmoke;
	border-radius: 15px;
	align-items: center;
	margin-top: 7vh;
	margin-left: 5vw;
	transition: transform 0.3s;
	animation: aparecer 0.5s forwards;
	z-index: 10;
}

.menuPowerUpFechado {
	animation: desaparecer 0.5s forwards;
}

.configurar {
	width: 35px;
	height: 35px;
	margin-left: 10px;
	margin-top: 10px;
	cursor: pointer;
	transition: background-color 0.3s;
}

@media(hover: hover) and (pointer: fine) {
	.configurar:hover {
		background-color:  rgb(0, 0, 0);
	}
}

.container-geral {
	margin-top: -60px;
	height: 80vh
}

.menuConfiguracoes {
	display: none;
	position: absolute;
	width: 80vw;
	background-color: whitesmoke;
	border-radius: 15px;
	align-items: center;
	margin-top: 5vh;
	margin-left: 5vw;
	transition: all 0.3s;
	z-index: 10;
}

.abrirMenu {
	animation: aparecer forwards 0.3s;
}

.fecharMenu {
	animation: desaparecer forwards 0.3s;
}

.menuConfiguracoes p {
	font-family: 'Didact Gothic', sans-serif !important;
	padding-top: 1vh;
	text-align: center;
	font-size: 1.5em;
}

.menuConfiguracoes div {
	font-family: 'Didact Gothic', sans-serif;
	padding-top: 1vh;
	text-align: center;
	font-size: 1.5em;
}

.menuConfiguracoes img {
	width: 30px;
	height: auto;
	margin-left: 47vw;
	margin-top: 1vh;
}

.select {
	width: 67%;
	margin-left: 16.5%;
	margin-top: 5vh;
	text-align: center;
	-webkit-display: flex;
	display: flex;
	line-height: 10vh;
}

.select div {
	font-family: 'Varela Round', sans-serif !important;
}

.dificuldadeEscolhida {
	-webkit-display: inline-block;
	display: inline-block;
    margin:0 auto;
}

.anterior {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	float: left;
}

.proximo {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	float: right;
}

.texto {
	align-self: center;
}

.texto p {
	font-family: 'Didact Gothic', sans-serif !important;
	padding-top: 1vh;
	text-align: center;
	font-size: 1.2em;
}

#imagem {
	width: 20vh;
	height: 20vh;
	margin-top: 3vh;
	margin-bottom: 3vh;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
}

.inputPowerUp {
	margin-top: 5vh;
	text-align: center;
	height: -moz-fit-content;
	height: fit-content;
}

.flex {
	-webkit-display: flex;
	display: flex;
	justify-content: space-around;
	padding-top: 6vh;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.flex div {
	width: 10vw;
	min-width: 100px;
	height: 27px;
	border-radius: 14px;
	background-color: rgb(239, 239, 239);
	border-style: none;
	transition: all 0.2s;
	outline: none;
	text-align: center;
	line-height: 27px;
	font-family: 'Didact Gothic', sans-serif !important;
}

@media (min-height: 540px) {
	.flex div {
		height: 5vh;
		line-height: 5vh;
	}
}

@media(hover: hover) and (pointer: fine) {
	.flex div:hover {
		transform: scale(1.1);
		cursor: pointer;
	}
}

.estatisticas {
	display: none;
	background-color: white;
	position: relative;
	width: 90vw;
	height: 80vh;
	margin: 10vh 5vw;
	border-radius: 15px;
	min-height: 302px;
	min-width: 242px;
}

.vermelho {
	background-color: rgb(255, 70, 70);
}

.verde {
	background-color: rgb(70, 180, 70);
}

.azul {
	background-color: rgb(40, 137, 217);
}

.azul2 {
	background-color: #254DB2;
}

.laranja {
	background-color: rgb(255, 128, 40);
}

.back_arrow {
	width: 30px;
	height: 30px;
	margin-left: 15px;
	margin-top: 15px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media(hover: hover) and (pointer: fine) {
	.transform:hover {
		transform: scale(1.1);
		cursor: pointer;
		transition: transform 0.5s;
	}
}

.cartao {
	height: 115px;
	border-radius: 15px;
}

.medio {
	width: 40vw;
}

.grande {
	width: 85vw;
	height: 58px;
}

.direita {
	margin-left: 2.5vw;
	margin-top: 5vh;
}

.esquerda {
	margin-left: 47.5vw;
	margin-top: -115px;
}

.center {
	text-align: center;
}

.subtitulo-carta {
	color: white;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 20px;
	height: 27px;
}

.numero {
	margin-top: 5px;
	margin-bottom: 5px;
	height: 21px;
	color: white;
	font-family: 'Didact Gothic', sans-serif;
	font-weight: bold;
}

.espaco {
	margin-top: 5px;
	margin-bottom: 5px;
}

.width {
	width: 40vw;
}

.justFlex {
	-webkit-display: flex;
	display: flex;
	justify-content: space-around;
}

.conteudoFacil {
	display: none;
	background-color: white;
	width: 90vw;
	height: 100vh;
	margin: 5vh 5vw;
	border-radius: 15px;
	transition: height 0.3s;
}

.conteudoNormal {
	display: none;
	background-color: white;
	width: 90vw;
	height: 180vh;
	margin: 5vh 5vw;
	border-radius: 15px;
	transition: height 0.3s;
}

.conteudoDificil {
	display: none;
	background-color: white;
	width: 90vw;
	height: 340vh;
	margin: 5vh 5vw;
	border-radius: 15px;
	transition: height 0.3s;
}

.configurarContainer {
	height: 45px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cartasFacil {
	margin-top: 5vh;
	height: 75vh;
	width: 90vw;
	-webkit-display: grid;
	display: grid;
	grid-template-columns: repeat(auto-fill, 45vw);
	grid-template-rows: repeat(auto-fill, 26vh);
	transition: height 0.3s;
}

.cartasNormal {
	margin-top: 5vh;
	height: 150vh;
	width: 90vw;
	-webkit-display: grid;
	display: grid;
	grid-template-columns: repeat(auto-fill, 45vw);
	grid-template-rows: repeat(auto-fill, 26vh);
	transition: height 0.3s;
}

.cartasDificil {
	margin-top: 5vh;
	height: 312vh;
	width: 90vw;
	-webkit-display: grid;
	display: grid;
	grid-template-columns: repeat(auto-fill, 45vw);
	grid-template-rows: repeat(auto-fill, 26vh);
	transition: height 0.3s;
}

/*Responsividade*/

@media (min-width: 60vh) {
	.cartasFacil {
		height: 75vh;
		width: 90vw;
		grid-template-columns: repeat(auto-fill, 45vw);
		grid-template-rows: repeat(auto-fill, 26vh);
	}
	.cartasNormal {
		height: 150vh;
		width: 90vw;
		grid-template-columns: repeat(auto-fill, 45vw);
		grid-template-rows: repeat(auto-fill, 26vh);
	}
	.cartasDificil {
		height: 312vh;
		width: 90vw;
		grid-template-columns: repeat(auto-fill, 45vw);
		grid-template-rows: repeat(auto-fill, 26vh);
	}
	.carta {
		line-height: 22vh;
		width: 22vh;
		height: 22vh;
		background-size: 22vh 22vh;
	}
}

@media (min-width: 90vh) {
	.cartasFacil {
		height: 52vh;
		width: 90vw;
		grid-template-columns: repeat(auto-fill, 22.5vw);
		grid-template-rows: 26vh 26vh;
	}
	.cartasNormal {
		height: 78vh;
		width: 90vw;
		grid-template-columns: repeat(auto-fill, 22.5vw);
		grid-template-rows: 26vh 26vh;
	}
	.cartasDificil {
		height: 152vh;
		width: 90vw;
		grid-template-columns: repeat(auto-fill, 22.5vw);
		grid-template-rows: 26vh 26vh;
	}
	.conteudoFacil {
		height: 78vh;
		width: 90vw;
		margin: 11vh 5vw;
	}
	.conteudoNormal {
		height: 105vh;
		width: 90vw;
		margin: 5vh 5vw;
	}
	.conteudoDificil {
		height: 180vh;
		width: 90vw;
		margin: 5vh 5vw;
	}
	.carta {
		line-height: 18vh;
		width: 18vh;
		height: 18vh;
		background-size: 18vh 18vh;
	}
	.menuPowerUp {
		width: 60vw;
		margin-top: 10vh;
		margin-left: 15vw;
	}
	.menuConfiguracoes {
		width: 60vw;
		margin-top: 7vh;
		margin-left: 15vw;
	}
}

@media (min-width: 110vh) {
	.cartasFacil {
		height: 52vh;
		width: 90vw;
		grid-template-columns: repeat(auto-fill, 22.5vw);
		grid-template-rows: 26vh 26vh;
	}
	.cartasNormal {
		height: 78vh;
		width: 90vw;
		grid-template-columns: repeat(auto-fill, 22.5vw);
		grid-template-rows: 26vh 26vh 26vh;
	}
	.cartasDificil {
		height: 156vh;
		width: 90vw;
		grid-template-columns: repeat(auto-fill, 22.5vw);
		grid-template-rows: 26vh 26vh 26vh;
	}
	.conteudoFacil {
		height: 78vh;
		width: 90vw;
		margin: 11vh 5vw;
	}
	.conteudoNormal {
		height: 105vh;
		width: 90vw;
		margin: 5vh 5vw;
	}
	.conteudoDificil {
		height: 180vh;
		width: 90vw;
		margin: 5vh 5vw;
	}
	.carta {
		line-height: 22vh;
		width: 22vh;
		height: 22vh;
		background-size: 22vh 22vh;
	}
}

@media (min-width: 140vh) {
	.cartasFacil {
		height: 52vh;
		width: 90vw;
		grid-template-columns: repeat(auto-fill, 15vw);
		grid-template-rows: 52vh;
	}
	.cartasNormal {
		height: 52vh;
		width: 90vw;
		grid-template-columns: repeat(auto-fill, 15vw);
		grid-template-rows: 26vh 26vh;
	}
	.cartasDificil {
		height: 104vh;
		width: 90vw;
		grid-template-columns: repeat(auto-fill, 15vw);
		grid-template-rows: 26vh 26vh;
	}
	.conteudoFacil {
		height: 80vh;
		width: 90vw;
		margin: 10vh 5vw;
	}
	.conteudoNormal {
		height: 80vh;
		width: 90vw;
		margin: 10vh 5vw;
	}
	.conteudoDificil {
		height: 130vh;
		width: 90vw;
		margin: 10vh 5vw;
	}
	.carta {
		line-height: 18vh;
		width: 18vh;
		height: 18vh;
		background-size: 18vh 18vh;
	}
	.menuPowerUp {
		width: 60vw;
		margin-top: 10vh;
		margin-left: 15vw;
	}
	.menuConfiguracoes {
		width: 60vw;
		margin-top: 7vh;
		margin-left: 15vw;
	}
}

@media (min-width: 160vh) {
	.cartasFacil {
		height: 52vh;
		width: 90vw;
		grid-template-columns: repeat(auto-fill, 15vw);
		grid-template-rows: 52vh;
	}
	.cartasNormal {
		height: 52vh;
		width: 90vw;
		grid-template-columns: repeat(auto-fill, 15vw);
		grid-template-rows: 26vh 26vh;
	}
	.cartasDificil {
		height: 104vh;
		width: 90vw;
		grid-template-columns: repeat(auto-fill, 15vw);
		grid-template-rows: 26vh 26vh;
	}
	.conteudoFacil {
		height: 80vh;
		width: 90vw;
		margin: 10vh 5vw;
		min-height: calc(72px + 67vh);
	}
	.conteudoNormal {
		height: 80vh;
		width: 90vw;
		margin: 10vh 5vw;
		min-height: calc(72px + 67vh);
	}
	.conteudoDificil {
		height: 130vh;
		width: 90vw;
		margin: 10vh 5vw;
		min-height: calc(72px + 120vh);
	}
	.carta {
		line-height: 22vh;
		width: 22vh;
		height: 22vh;
		background-size: 22vh 22vh;
	}
}

@media (min-width: 180vh) {
	.cartasFacil {
		height: 52vh;
		width: 80vw;
		grid-template-columns: repeat(auto-fill, 13.333vw);
		grid-template-rows: 52vh;
	}
	.cartasNormal {
		height: 52vh;
		width: 80vw;
		grid-template-columns: repeat(auto-fill, 13.333vw);
		grid-template-rows: 26vh 26vh;
	}
	.cartasDificil {
		height: 104vh;
		width: 80vw;
		grid-template-columns: repeat(auto-fill, 13.333vw);
		grid-template-rows: 26vh 26vh 26vh 26vh;
	}
	.estatisticas {
		width: 80vw;
		margin: 10vh 10vw;
	}
	.width {
		width: 30vw;
	}
	.grande {
		width: 70vw;
	}
	.medio {
		width: 30vw;
	}
	.direita {
		margin-left: 5vw;
	}

	.esquerda {
		margin-left: 45vw;
	}
	.conteudoFacil {
		height: 80vh;
		width: 80vw;
		margin: 10vh 10vw;
	}
	.conteudoNormal {
		height: 80vh;
		width: 80vw;
		margin: 10vh 10vw;
	}
	.conteudoDificil {
		height: 130vh;
		width: 80vw;
		margin: 10vh 10vw;
	}
	.menuPowerUp {
		width: 50vw;
		margin-top: 10vh;
		margin-left: 15vw;
	}
	.menuConfiguracoes {
		width: 50vw;
		margin-top: 7vh;
		margin-left: 15vw;
	}
}

@media (min-width: 220vh) {
	.menuPowerUp {
		width: 50vw;
		margin-top: -1vh;
		margin-left: 15vw;
	}
	.menuConfiguracoes {
		width: 50vw;
		margin-top: -4vh;
		margin-left: 15vw;
	}
}

body::-webkit-scrollbar {
	width: 5px;
	background-color: rgb(0, 0, 0, 0);
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
	background-color: rgb(200, 200, 200);
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.cartoes {
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
}

@media (min-height: 88vw) {
	.width .subtitulo-carta {
		height: 54px;
	}
	.grande {
		height: 85px;
	}
}

@media (min-height: 130vw) {
	.medio {
		width: 80vw;
		min-width: 217.8px;
	}
	.direita {
		margin-left: 5vw;
	}
	.esquerda {
		margin-left: 5vw;
		margin-top: 20px;
	}
	.estatisticas {
		height: 90vh;
		margin: 5vh 5vw;
	}
	.grande {
		width: 80vw;
		min-width: 217.8px;
	}
}

@media (min-width: 290px) {
	.titulo {
		width: 100%;
		margin-left: 0;
	}
}

::selection {
    background: #43b7e3cf;
}