@import url('https://fonts.googleapis.com/css?family=Roboto:500');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    list-style: none;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    position: relative;
    background-color: #212121;
    color: #ffffff;
    min-height: 100vh;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #b42b00;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

input {
    outline: none;
}

.main-title {
    text-align: center;
    margin: 15px;
    height: 60px;
    line-height: 60px;
}

.description {
    text-align: center;
}

.signed-out {
    background-color: #181717;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 15px;
    border-radius: 10px;
    width: min(80%, 350px);
    margin: 20px auto;
}

.signed-out div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.signed-out input {
    width: 100%;
    border: none;
    background-color: #212121;
    padding: 15px 10px;
    color: white;
    border-radius: 10px;
}

#signed-in {
    min-height: 100vh;
    padding: 80px 15px 20px 15px;
    transition: filter .5s ease;
}

#pending,
#completed {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}

.task {
    padding: 10px;
    background-color: #b42b00;
    border-radius: 10px;
    display: flex;
    gap: 15px;
    align-items: center;
    color: #eeeeee;
    transition: background-color .35s ease, color .35s ease;
    animation: TaskAdd .75s ease;
    box-shadow: 0px 0px 10px 1px black;
}

@keyframes TaskAdd {
    from{opacity: 0;}
    to{opacity: 1;}
}

.task.completed {
    background-color: #e9472270;
}

.task.completed div {
    text-decoration: line-through;
    color: #929292;
}

.profile-info {
    position: fixed;
    top: 15px;
    right: 15px;
    padding: 12.5px;
    background-color: #181717;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    transition: width .5s ease, height .5s ease, border-radius .5s ease;
    box-shadow: 0px 0px 10px 1px black;
}

.profile-info:hover {
    width: 200px;
    height: 150px;
    border-radius: 10px;
}

.profile-info:hover .info-container {
    display: flex;
    flex-direction: column;
    animation: opacity .5s ease;
}

.info-container {
    display: none;
}

.profile-img {
    width: 35px;
    height: 35px;
}

.checkbox {
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    position: relative;
    border-radius: 50%;
}

.task.completed .checkbox:after {
    content: "";
    position: absolute;
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #b42b00;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.add-task {
    background-color: #181717;
    width: 60px;
    height: 60px;
    display: grid;
    place-items: center;
    font-size: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    right: 15px;
    transition: width .5s ease, height .5s ease, border-radius .5s ease;
    box-shadow: 0px 0px 10px 1px black;
}

.add-task.show {
    width: min(90%, 280px);
    height: 350px;
    border-radius: 10px;
}

.add-task input,
.task-edit-overlay input {
    width: 250px;
    border: none;
    background-color: #212121;
    padding: 10px;
    color: white;
    border-radius: 10px;
    transition: background-color .25s ease, border .25s ease;
}

#new-task-name {
    border: 2px #212121 solid;
}

.add-task.show #add-menu-hidden {
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation: opacity .5s ease;
}

.add-task.show #add-icon {
    display: none;
}

#add-menu-hidden {
    display: none;
}

.task button {
    width: fit-content;
    margin-left: auto;
    text-decoration: none !important;
    background-color: #3e3b3b;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.close-task-menu-btn,
.close-task-edit-btn {
    background-color: #b42b00;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 30px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

textarea {
    background-color: #212121;
    border: none;
    resize: none;
    width: 250px;
    height: 125px;
    border-radius: 10px;
    padding: 10px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

#add-menu-hidden div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pending-container,
.completed-container {
    background-color: #181717;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 25px 0;
    display: none;
    box-shadow: 0px 0px 10px 1px black;
}

#add-icon {
    cursor: default;
}

.delete-btn,
.edit-btn {
    width: 25px;
    height: 25px;
    margin-left: auto;
    cursor: pointer;
    /* border-radius: 10px; */
    transition: background-color .25s ease;
}

/* .delete-btn:hover,
.edit-btn:hover {
    background-color: #181717;
} */

.task-details {
    text-overflow: ellipsis;
    max-height: 50px;
    overflow: hidden;
}

.task div {
    width: calc(100% - 105px);
    cursor: pointer;
}

::placeholder {
    color: rgb(172, 172, 172);
    opacity: 1;
    font-family: 'Poppins', sans-serif;
}

::-ms-input-placeholder {
    color: rgb(172, 172, 172);
    font-family: 'Poppins', sans-serif;
}

.task-details-overlay,
.task-edit-overlay {
    width: min(400px, 90%);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #181717;
    border-radius: 10px;
    padding: 10px 15px 20px 15px;
    display: none;
    flex-direction: column;
    gap: 10px;
    word-break: break-word;
    transform-origin: left;
    z-index: 9999;
    animation: DetailsAnimate .5s ease;
    box-shadow: 0px 0px 10px 1px black;
}

.task-edit-overlay {
    width: min(280px, 90%);
}

@keyframes DetailsAnimate {
    from {transform: translate(-50%, -30%); opacity: 0;}
    to{transform: translate(-50%, -50%); opacity: 1;}
}

.task-details-overlay div,
.task-edit-overlay div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.sign-in-details {
    color: #03a9f4;
    text-decoration: underline;
    font-size: .8em;
    cursor: pointer;
    padding: 3px 10px;
    border-radius: 10px;
    width: fit-content;
    transition: .25s background-color ease;
}

.sign-in-details:hover {
    background-color: #3b3b3b;
}

.sep-line {
    width: 100%;
    height: 3px;
    background-color: #3b3b3b;
    border-radius: 100vw;
}

.no-tasks-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 25px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.no-tasks-img {
    width: min(90%, 300px);
    margin: auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #212121;
    z-index: 99;
}

::selection {
    background-color: #0682b9;
}

body::-webkit-scrollbar-thumb {
    background-color: #3b3b3b;
    border-radius: 6px;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0, 0, 0, 0);
}

#details-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: none;
}

.loader {
    width: 20px;
    height: 20px;
    border: 3px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

#new-task-save {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}