@import url('https://fonts.googleapis.com/css?family=Roboto:500');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    list-style: none;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    position: relative;
    background-color: #212121;
    color: #ffffff;
    padding: 20px 15px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #b42b00;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

input {
    outline: none;
}

.main-title {
    text-align: center;
    margin: 15px;
}

.description {
    text-align: center;
}

.signed-out {
    background-color: #181717;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 15px;
    border-radius: 10px;
    width: min(80%, 350px);
    margin: auto;
}

.signed-out div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.signed-out input {
    width: 100%;
    border: none;
    background-color: #212121;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

#pending,
#completed {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}

.task {
    padding: 10px;
    background-color: #b42b00;
    border-radius: 10px;
    display: flex;
    gap: 15px;
    align-items: center;
    color: #eeeeee;
    transition: background-color .35s ease, color .35s ease;
    animation: TaskAdd .5s ease;
}

@keyframes TaskAdd {
    from{width: 0; opacity: 0;}
    to{width: 100%; opacity: 1;}
}

.task.completed {
    background-color: #e9472270;
}

.task.completed div {
    text-decoration: line-through;
    color: #929292;
}

.profile-info {
    position: fixed;
    top: 15px;
    right: 15px;
    padding: 10px;
    background-color: #181717;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    transition: width .5s ease, height .5s ease, border-radius .5s ease;
}

.profile-info:hover {
    width: 200px;
    height: 150px;
    border-radius: 10px;
}

.profile-info:hover .info-container {
    display: flex;
    flex-direction: column;
    animation: opacity .5s ease;
}

.info-container {
    display: none;
}

.profile-img {
    width: 40px;
    height: 40px;
}

.checkbox {
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    position: relative;
    border-radius: 50%;
}

.task.completed .checkbox:after {
    content: "";
    position: absolute;
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #b42b00;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.add-task {
    background-color: #181717;
    width: 60px;
    height: 60px;
    display: grid;
    place-items: center;
    font-size: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    right: 15px;
    transition: width .5s ease, height .5s ease, border-radius .5s ease;
}

.add-task.show {
    width: min(90%, 280px);
    height: 350px;
    border-radius: 10px;
}

.add-task input {
    width: 250px;
    border: none;
    background-color: #212121;
    padding: 10px;
    color: white;
    border-radius: 10px;
    transition: background-color .25s ease, border .25s ease;
}

#new-task-name {
    border: 2px #212121 solid;
}

.add-task.show #add-menu-hidden {
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation: opacity .5s ease;
}

.add-task.show #add-icon {
    display: none;
}

#add-menu-hidden {
    display: none;
}

.task button {
    width: fit-content;
    margin-left: auto;
    text-decoration: none !important;
    background-color: #3e3b3b;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.close-task-menu-btn {
    background-color: #b42b00;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 30px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

textarea {
    background-color: #212121;
    border: none;
    resize: none;
    width: 250px;
    height: 125px;
    border-radius: 10px;
    padding: 10px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

#add-menu-hidden div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pending-container,
.completed-container {
    background-color: #3e3b3b;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 15px 0;
    display: none;
}

#add-icon {
    cursor: default;
}

.delete-btn {
    width: 45px;
    height: 45px;
    margin-left: auto;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    transition: background-color .25s ease;
}

.delete-btn:hover {
    background-color: #181717;
}

.task-details {
    text-overflow: ellipsis;
    max-height: 50px;
    overflow: hidden;
}

.task div {
    width: calc(100% - 105px);
    cursor: pointer;
}

::placeholder {
    color: rgb(172, 172, 172);
    opacity: 1;
    font-family: 'Poppins', sans-serif;
}

::-ms-input-placeholder {
    color: rgb(172, 172, 172);
    font-family: 'Poppins', sans-serif;
}

.task-details-overlay {
    width: min(400px, 90%);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #181717;
    border-radius: 10px;
    padding: 10px 15px 20px 15px;
    display: none;
    flex-direction: column;
    gap: 10px;
    word-break: break-word;
    transform-origin: left;
    animation: DetailsAnimate .5s ease;
}

@keyframes DetailsAnimate {
    from {transform: scale(0) translate(-50%, -50%); opacity: 0;}
    to{transform: scale(1) translate(-50%, -50%); opacity: 1;}
}

.task-details-overlay div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.sign-in-details {
    color: #03a9f4;
    text-decoration: underline;
    font-size: .8em;
    cursor: pointer;
    padding: 3px 10px;
    border-radius: 10px;
    width: fit-content;
    transition: .25s background-color ease;
}

.sign-in-details:hover {
    background-color: #3b3b3b;
}