@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	list-style: none;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
    font-family: 'Didact Gothic', sans-serif;
}

body {
    color: white;
    background: rgb(0,0,0);
    min-height: 100vh;
    background: linear-gradient(180deg, #190026 0%, #350050 68%, #86299c 100%); 
}

a {
    text-decoration: none;
    color: white;
}

.upper-menu {
    width: 100%;
    height: 100px;
    background-color: rgb(20, 20, 20);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.upper-menu img {
    width: 202px;
    height: 69px;
}

.links-menu {
    display: flex;
    gap: 15px;
}

.links-menu a {
    cursor: pointer;
    text-decoration: none;
    padding: 15px;
    transition: color .2s ease;
}

.links-menu a:hover {
    color: #a71fc5;
}

.main-content {
    background-image: url(../images/england-2738428__480.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 100px);
}

.flag {
    background-color: rgba(12, 3, 61, .9);
    width: fit-content;
    text-align: center;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flag h2 {
    font-weight: bold;
    margin-top: 15px;
}

.footer {
    height: 60px;
    width: 100%;
    background-color: rgb(20, 20, 20);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 0 25px;
}

.flex {
    display: flex;
    gap: 5px;
    line-height: 40px;
    align-items: center;
}

.flex a {
    cursor: pointer;
    text-decoration: none;
    transition: color .2s ease;
    height: 40px;
}

.flex a:hover {
    color: #a71fc5;
}

.flex a img {
    width: 40px;
    height: 40px;
    transition: .2s filter ease;
}

.flex a img:hover {
    filter: brightness(1.5);
}

.rights {
    position: absolute;
    right: 25px;
}