@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	list-style: none;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
    font-family: 'Didact Gothic', sans-serif;
}

video {
    border-radius: 10px;
    margin: 0 30px 20px 0;
}

body {
    color: white;
    background: rgb(0,0,0);
    min-height: 100vh;
    background: linear-gradient(180deg, #190026 0%, #350050 68%, #86299c 100%); 
}

.main-container {
    background-color: #1E1E1E;
    border-radius: 15px;
    width: 1200px;
    border-radius: 15px;
    padding: 25px;
    margin: 50px auto 30px auto;
}

.title-page {
    font-family: 'Didact Gothic', sans-serif;
    font-weight: bold;
    position: relative;
    text-align: center;
    padding-top: 50px;
}

.upper-menu-selection {
    width: auto;
    height: 40px;
    background-color: #171717;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.menu-button {
    line-height: 100%;
    color: black;
    font-weight: bold;
    font-size: 20px;
    background-color: whitesmoke;
    padding: 10px 15px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.letter-active {
    background-color: #76218d;
    color: white;
}

.specific-content {
    height: calc(100% - 40px);
    padding: 80px 10px 40px 10px;
    display: none;
}

#specific-content-0 {
    display: flex;
}

.sounds-section {
    width: 20%;
    height: 100%;
}

.sound-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-weight: bold;
    font-size: 30px;
    margin: 15px;
}

.sound-container img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.video-section h2 {
    margin-top: 20px;
}

.video-section h3 {
    margin-top: 5px;
}

.word-line {
    display: grid;
    grid-template-columns: 225px 225px 225px;
    padding: 10px 0;
}

.center {
    text-align: left;
}

.flex-title {
    display: flex;
    gap: 15px;
}

.flex-title img {
    height: 35px;
    width: 35px;
}

.word-wrapper,
.bre-wrapper {
    display: flex;
    line-height: 30px;
    gap: 10px;
}

.word-wrapper img,
.bre-wrapper img {
    margin: auto 0;
    cursor: pointer;
}

.word-wrapper img {
    width: 30px;
    height: 30px;
}

.bre-wrapper img {
    width: 25px;
    height: 25px;
}

.show-favorites {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 15px 0;
}

.show-favorites img {
    width: 30px;
}

.favorite-words {
    background-color: #171717;
    width: 710px;
    height: 680px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    border-radius: 15px;
    display: none;
    overflow-y: scroll;
}

.title-favorite {
    text-align: center;
    padding: 15px;
}

.favorite-words a {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

#append-words-favorite {
    width: fit-content;
    margin: 10px 0 0 auto;
}

.words-list::-webkit-scrollbar,
.favorite-words::-webkit-scrollbar {
    width: 7px;
    background-color: rgb(0, 0, 0, 0);
 }

 .words-list::-webkit-scrollbar-thumb,
 .favorite-words::-webkit-scrollbar-thumb {
    background-color: white;
    height: 90px;
    border: 15px rgba(0, 0, 0, 0);
    border-style: solid none solid none;
    background-clip: padding-box;
 }

.upper-menu {
    width: 100%;
    height: 100px;
    background-color: rgb(20, 20, 20);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.upper-menu img {
    width: 202px;
    height: 69px;
}

.links-menu {
    display: flex;
    gap: 15px;
}

.links-menu a {
    cursor: pointer;
    text-decoration: none;
    padding: 15px;
    transition: color .2s ease;
    color: white;
}

.links-menu a:hover {
    color: #a71fc5;
}

.footer {
    height: 60px;
    width: 100%;
    background-color: rgb(20, 20, 20);
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 0 25px;
}

.flex {
    display: flex;
    gap: 5px;
    line-height: 40px;
    align-items: center;
}

.flex a {
    cursor: pointer;
    text-decoration: none;
    transition: color .2s ease;
    height: 40px;
    color: white;
}

.flex a:hover {
    color: #a71fc5;
}

.flex a img {
    width: 40px;
    height: 40px;
    transition: .2s filter ease;
}

.flex a img:hover {
    filter: brightness(1.5);
}

.rights {
    position: absolute;
    right: 25px;
}