@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	list-style: none;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 600;
}

html, body {
    overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
    color: #061A72;
	position: relative;
    background: white;
    z-index: 0;
}

.main-content {
    display: flex;
    padding: 50px 25px 25px 25px;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vertical-selection {
    gap: 10px;
    flex-direction: column;
    display: none;
}

.main-image-product {
    max-width: 83.333%;
}

@media(min-width: 1300px) {
    .main-content {
        align-items: normal;
        flex-direction: row;
    }
    .vertical-selection {
        display: flex;
    }
}

.vertical-selection img {
    width: 80px;
    height: 80px;
    border: 4px white solid;
    cursor: pointer;
    border-radius: 4px;
}

.active {
    border: 4px orange solid !important;
}

.center-section {
    width: 685px;
    max-width: 100%;
    display: flex;
}

.container {
    max-width: 100%;
}

.main-product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.change-img-arrow {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.line {
    display: flex;
    align-items: center;
    margin: 15px 35px;
}

.icon-favorite {
    height: 35px;
    width: 35px;
}

.table {
    width: 85%;
    margin: 35px auto 0 auto;
}

.description-text {
    margin: 15px 10px;
}

.extra {
    margin: 10px 0;
}

.description-text p {
    padding: 10px 35px;
}

.separate-content {
    justify-content: space-between;
}

.separator {
    width: 100%;
    height: 3px;
    background-color: #061A72;
}

.bold {
    height: 6px;
}

.info-img {
    width: 50px;
    height: 50px;
}

.custom-gap {
    gap: 15px;
}

.reviews {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 15px 0;
}

.title-side-menu {
    font-weight: bold;
}

.review-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 0;
}

.reviews p {
    color: green;
    font-size: 28px;
    padding: 0 0 5px 0;
}

.reviews h3 {
    margin-left: 10px;
}

.quantity {
    padding: 15px 0;
}

.quantity-opcitons {
    display: flex;
    gap: 10px;
    padding: 15px 0;
}

.quantity-option {
    border: 2px grey solid;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    width: 80px;
    height: auto;
}

.quantity-option img {
    width: 100%;
}

.active-option {
    border: 2px orange solid !important;
    background-color: rgba(255, 166, 0, 0.575) !important;
}

.options-pay-container {
    padding: 15px 0 0 0;
    display: flex;
}

.first-option-pay {
    border: #E6E9F1 solid;
    border-width: 2px 0 0 2px;
}

.options-pay {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #E6E9F1;
    padding: 10px 15px;
}

.active-pay-option {
    background-color: white;
}

.pay-informations {
    border: #E6E9F1 solid;
    border-width: 0 2px 2px 2px;
    padding: 20px;
}

.pay-informations h2 {
    padding: 15px 0;
}

.red {
    color: #BC2E3E;
}

select {
    width: 100%;
    padding: 10px 15px;
    font-size: 20px;
}

.informations-pay-option {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 0 0;
}

.pay-option-icon {
    width: 35px;
    height: 35px;
}

.pay-option-display {
    gap: 10px;
    margin: 0;
    padding: 0 0 10px 0;
}

.underline {
    text-decoration: underline;
}

.space-gap {
    gap: .5rem;
}

span {
    display: inline;
}

.side-menu-informations {
    width: 600px;
    max-width: 100%;
}

.upper-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px 0;
}

.upper-menu h1 {
    padding: 0 30px;
}

.upper-menu a {
    cursor: pointer;
    font-size: 1.15em;
}

a img {
    width: 35px;
    height: 35px;
}

.promotion-banner {
    background-color: #061A72;
    padding: 20px;
    text-align: center;
    color: white;
}

button {
    width: 100%;
    padding: 20px;
    background-color: #BC2E3E;
    border-radius: 6px;
    border: none;
    margin: 20px 0;
    cursor: pointer;
    color: white;
}

select {
    color: #061A72;
}

.img-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}