@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	list-style: none;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	color: white;
}

html, body {
	overflow-x: hidden;
}

body {
	scroll-behavior: smooth;
	position: relative;
	background-image: url("../img/fundo.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/*Menu*/

.menu {
	color: white;
	width: 100%;
	position: fixed;
	z-index: 1;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	transition: 0.5s top;
	will-change: transform;
}

.menu ul {
	display: flex;
	justify-content: space-around;
}

.menu li {
	list-style: none;
}

.menu a {
	color: white;
	display: block;
	padding: 15px 50px;
	font-size: 1em;
	transition: color 0.3s, background-color 0.3s;
}

@media(hover: hover) and (pointer: fine) {
	.menu a:hover {
		color: black;
		background-color: white;
	}
}

.sidenav {
	height: 100vh;
	width: 0;
	color: white;
	text-decoration: none;
	background-color: #454541;
	position: fixed;
	top: 0px;
	left: 0px;
	overflow-x: hidden;
	font-family: 'Raleway', sans-serif;
	transition: color, top 0.3s;
	justify-content: space-between;
	transition: width 0.5s;
}

.itens {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	opacity: 0;
	margin-left: -100px;
	transition: opacity 0.5s, margin 0.5s;
}

.sidenav a {
	text-decoration: none;
	font-size: 25px;
	margin: 20px 0px;
	padding: 15px 50px;
	text-align: center;
	color: white;
	display: block;
	transition: color 0.3s, background-color 0.3s;
}

@media(hover: hover) and (pointer: fine) {
	.sidenav a:hover {
		color: black;
		background-color: white;
	}
}

.sidenav .closebtn {
	position: absolute;
	padding: 10px 25px;
	margin-top: 0;
	top: 0px;
	right: 0px;
	font-size: 36px;
}

img,
.conjunto {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.secao {
	height: 100vh;
	position: relative;
}

.nomeRobotica {
	width: 40vw;
	height: auto;
	margin-left: 30vw;
	position: absolute;
	top: 60%;
	transform: translateY(-50%);
}

.rato {
	width: 25vw;
	position: absolute;
	top: 50%;
	left: 5vw;
	transform: translateY(-50%);
}

.conteudo {
	transition: margin-left 0.5s, opacity 0.5s;
}

.projeto {
	width: 100vw;
	height: 40%;
	margin: 5% 0;
	display: flex;
	font-family: 'Roboto', sans-serif;
}

.textoProjeto,
.imgProjeto {
	width: 40%;
	height: auto;
	margin: 0 5%;
	padding: 30px;
}

.imgProjeto {
	cursor: pointer;
}

.tituloProjeto,
.descricaoProjeto {
	text-align: center;
	padding: 30px;
}

.galeria {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 33.3% 33.3% 33.3%;
}

.imagemGaleria {
	margin: auto;
	width: 45%;
	height: auto;
}

.video {
	width: 100%;
	margin: auto;
}

.tituloSobre {
	font-size: 2em;
	text-align: center;
	padding-top: 10%;
	font-family: 'Roboto', sans-serif;
}

.botaoVerMais {
	width: 15vw;
	text-align: center;
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	user-select: none;
	margin-left: 80vw;
}