* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	list-style: none;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	color: white;
}

html, body {
	overflow-x: hidden;
}

body {
	scroll-behavior: smooth;
	position: relative;
	background-color: rgb(0, 0, 0)
}

#secoes {
	background-image: url(../../imagens/fundo.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.secao {
	height: 100vh;
	width: 100vw;
	position: relative;
}

.titulo {
	text-align: center;
	font-family: 'Balsamiq Sans', cursive;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	font-size: 2em;
	padding: 15px;
}