@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	list-style: none;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	color: white;
    font-family: 'Didact Gothic', sans-serif;
}

video {
    border-radius: 10px;
    margin: 30px;
}

body {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,31,121,1) 68%, rgba(0,27,255,0.846673703661152) 100%); 
}

.upper-menu {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 25px;
}

.menu-letter {
    font-size: 50px;
    border: 10px solid #4D4DFF;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}

.menu-links {
    display: flex;
    gap: 20px;
    position: absolute;
    right: 50px;
}

.menu-links a {
    cursor: pointer;
}

.active-button {
    background-color: #4D4DFF;
    width: 100px;
    height: 100px;
    line-height: 80px;
}

.upper-menu img {
    height: 60px;
    width: auto;
}

.main-content {
    display: flex;
    place-content: center;
    min-width: fit-content;
}

.letter-menu {
    background-color: #1E1E1E;
    border-radius: 15px;
    width: 400px;
    margin: 15px;
    padding: 0 0 25px 0;
}

.letter-menu h2 {
    padding: 20px;
    color: white;
    text-align: center;
    padding: 20px;
}

.words-menu {
    background-color: #1E1E1E;
    border-radius: 15px;
    margin: 15px;
    display: flex;
}

.video-section {
    width: 300px;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.line {
    display: grid;
    grid-template-columns: 125px 125px 125px;
    padding: 10px;
}

.letter {
    gap: 10px;
    padding: 0 15px;
    cursor: pointer;
    display: flex;
    background-color: #4D4DFF;
    margin: 0 15px;
    border-radius: 10px;
    height: 50px;
    align-items: center;
    justify-content: center;
    transition: background-color .3s ease;
}

.letter:hover {
    background-color: #2626a0;
}

.letter h3 {
    font-family: Arial !important;
    line-height: 30px;
}

.letter img {
    width: 30px;
    height: auto;
}

.section-letter {
    margin: auto;
    width: fit-content;
}

.words-list {
    font-family: 'Didact Gothic', sans-serif;
    height: 600px;
    overflow-y: scroll;
}

.word-line {
    display: grid;
    grid-template-columns: 225px 225px 225px;
    padding: 10px 0;
}

.words-list::-webkit-scrollbar {
    width: 7px;
    background-color: rgb(0, 0, 0, 0);
 }

 .words-list::-webkit-scrollbar-thumb {
    background-color: white;
    height: 90px;
    border: 15px rgba(0, 0, 0, 0);
    border-style: solid none solid none;
    background-clip: padding-box;
 }

.center {
    text-align: left;
}

.block {
    display: block;
}

.word-wrapper,
.bre-wrapper {
    display: flex;
    line-height: 30px;
    gap: 10px;
}

.word-wrapper img,
.bre-wrapper img {
    width: 30px;
    height: auto;
    cursor: pointer;
}

.underline {
    text-decoration: underline;
    margin: 20px 50px;
}

.video-section h3 {
    margin: 0 15px;
    color: #4D4DFF;
}

.show-favorites {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 15px 0;
}

.show-favorites img {
    width: 30px;
}